*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'poppins',sans-serif;
    
    
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
body{
    width: 100%;
    height: auto;
}
img{
    width: 100px;
}
button{
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
}
/********start*********/

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .content{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 70px;
    overflow: hidden;
}
.container .content header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
header .logo{
    width: 100px!important;
    
}
header h1{
    width: 100%;
    text-align: center;
    padding: 3px;
    color: #000;
}

.content-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content-body form input{
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #F4F4F4;
    padding: 0 20px;
    font-size: 0.9em;
    font-family: "poppins", sans-serif;
    transition: all 0.4s;
}
.pass{
    padding: 0 40px 0 20px!important;
}
.show-pass{
    position: relative;
}
.close-eye{
    position: absolute;
    left: 310px;
    top: 7px;
    width: 30px;
}
.content-body form .user,.password{
    margin-top: 10px;
    opacity: 0.7;
    padding: 2px;
    font-size: 0.9em;
}
.remamber-forget{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
.remamber-forget  a{
    font-size: 0.9em;
    margin-top: 3px;
    color: #000;
    text-decoration: none;
    opacity: 0.7;
}
a:hover{
    color: #EEE04A;
    text-decoration: underline;
    cursor: pointer;
}
/****btn ****/

.btn-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-box .login-btn{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #F5E753;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                0 -1px 2px rgba(255, 255, 255, 0.3);
}
.login-btn:hover{
    background: #E5D312;
}


/**** skip ******/

.skip{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

/**** js style add *****/

.in{
    border: 1px solid red!important;
}